{% extends 'transactions/layout.html' %}

{% block title %}Вход в аккаунт{% endblock %}
{% block content %}
    <div class="login-container">
        <h1 class="form-title">Вход</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <div>
                <button class="btn-submit" type="submit">Войти</button>
            </div>
        </form>
    </div>
{% endblock %}
